/* ==========================================================================
    basic styling
========================================================================== */

html {
    scroll-behavior: smooth;
}

body {
    display: block;
    background-color: #111111;
    color: #f4f4f4;
    font-family: degular-text, sans-serif;
    font-size: 1em;
    font-weight: 200;
    line-height: 145%;
}

header {
    margin-bottom: 5em;
    padding: 15px;
}

section {
    margin-bottom: 5em;
}

h1 {
    font-family: presley-slab, serif;
    font-weight: 100;
    font-size: 10vw; /* responsive text */
    margin: 0.8em 0em 0.4em 0em;
}

h2 {
    font-family: presley-slab, serif;
    font-weight: 100;
    font-size: 6.5vw; /* responsive text */
    text-align: center;
    margin-bottom: 0.6em;
}

p {
    margin-bottom: 2em;
}

footer {
    font-size: 0.8em;
    text-align: center;
    padding-bottom: 0.5em;
}

/* mobile adjustments for body, header and section
========================================================================== */

@media screen and (max-width: 769px) {
    body {
        font-size: 0.8em;
    }
    header {
        margin-bottom: 3em;
    }
    section {
        margin-bottom: 3em;
    }
}

/* button styling and animation
========================================================================== */

.button {
    color:#FBADAD;
    font-size: 3vw;
    text-transform: uppercase;
    text-decoration: none;
    border: solid 1px;
    border-radius: 100em;
    padding: 0.3em 1.3em;
    transition: .5s ease;
    margin-bottom: 2em;
}

.button:hover {
    color:#111111;
    background-color: #FBADAD;
    border: solid 1px #FBADAD;
}

/* button fixed font size and padding for big screens */
@media screen and (min-width: 769px) {
    .button {
        font-size: 1.5em;
        padding: 0.5em 1.5em;
    }
}


/* ==========================================================================
   horizontal scrollable menu
========================================================================== */

nav.scrollmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
}

nav.scrollmenu a {
    display: inline-block;
    color: #FBADAD;
    font-size: 1em;
    text-align: center;
    padding: 0.1em 0.9em;
    text-decoration: none;
    text-transform: uppercase;
}

nav.scrollmenu a:hover {
    text-decoration: wavy underline;
}

nav.scrollmenu a:focus {
    text-decoration: wavy underline;
}

/* active page */
nav.scrollmenu a.active {
    text-decoration: wavy underline;
}


/* ==========================================================================
   hero styling (home)
========================================================================== */

/* hero wrapper and headings
========================================================================== */

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    padding-top: 30vh;
}

#hero h1 {
    font-family: presley-slab, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 10vw; /* responsive text */
    line-height: 100%;
    text-transform: uppercase;
    color: #FBADAD;
    margin: 0.1em 0 0.4em 0;
}

#hero h2 {
    font-weight: 200;
    font-size: 4vw; /* responsive text */
    text-align: center;
    max-width: 80vw;
    opacity: 0.5;
    line-height: 140%;
    color: #FBADAD;
}

/* fixed font size for big screens */
@media screen and (min-width: 769px) {
    #hero h2 {
        font-size: 1.9em;
    }
}

/* pink hero-img overlay
========================================================================== */

/* hero-img wrapper */
#hero-img {
    height: 50vw;
    width: 100vw;
    background: #FBADAD;
    overflow: hidden;
    border-radius: 2em;
}

/* real img reveal */
#hero-img:hover img {
    height: 55vw;
    width: 100vw;
    overflow: hidden;
    opacity: 1;
    filter: grayscale(0%);
}

/* media query img dimensions*/
@media screen and (max-width: 576px) {
    #hero-img {
        height: 120vw;
    }
    #hero-img:hover img {
        height: 125vw;
    }
}

/* img behind overlay */
#hero-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.4;
    filter: grayscale(100%);
    background-blend-mode: screen;
    transition: .5s ease;
}


/* ==========================================================================
   item-section styling (home)
========================================================================== */

/* section styling
========================================================================== */

#item {
    scroll-margin: 20vw;
}

/* wrap around items - responsive behaviour
========================================================================== */

/* row */
#item div { 
    display: flex;
}

/* column */
#item figure { 
    flex: 33.33%;
    transition: .5s ease;
}

/* smooth hover animation between items */
#item figure:hover {
    flex: 50%;
}

/* stack mobile */
@media screen and (max-width: 576px) {
    #item div {
        flex-direction: column;
        gap: 1em;
    }
}

/* item img dimensions */
#item img {
    width: 75%;
}

/* item link styling
========================================================================== */

#item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #FBADAD;
}

#item span {
    font-family: presley-slab, serif;
    font-weight: 100;
    font-size: 6vw;
    font-style: normal;
    line-height: 120%;
}


/* ==========================================================================
   cta-section styling (home)
========================================================================== */

#cta {
    text-align: center;
    padding: 15px;
}

/* ==========================================================================
   record section (tabs)
========================================================================== */

header a {
    color: #f4f4f4;
    text-decoration: none;
    font-size: 0.8em;
}

