/* ==========================================================================
    basic styling
========================================================================== */

body {
    display: block;
    background-color: #111111;
    color: #f4f4f4;
    font-family: degular-text, sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 145%;
}


/* ==========================================================================
   horizontal scrollable menu
========================================================================== */

nav.scrollmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
}

nav.scrollmenu a {
    display: inline-block;
    color: #FBADAD;
    font-size: 0.9em;
    text-align: center;
    padding: 0.1em 0.9em;
    text-decoration: none;
    text-transform: uppercase;
}

nav.scrollmenu a:hover {
    text-decoration: wavy underline #FBADAD;
}

nav.scrollmenu a:focus {
    text-decoration: wavy underline #FBADAD;
}

/* active site */
nav.scrollmenu a.active {
    text-decoration: wavy underline #FBADAD;
}


/* ==========================================================================
   hero styling (home)
========================================================================== */

/* hero wrapper */
#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    padding-top: 25vh;
}

#hero-h1 {
    font-family: presley-slab, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 10vw; /* responsive text */
    line-height: 100%;
    text-transform: uppercase;
    color: #FBADAD;
    margin: 0.1em 0 0.4em 0;
}

#hero-sub {
    font-weight: 200;
    font-size: 3vw; /* responsive text */
    text-align: center;
    max-width: 80vw;
    opacity: 0.5;
    line-height: 140%;
    color: #fbadad;
}

/* pink hero-img overlay
   ========================================================================== */

/* hero-img wrapper */
#hero-img-wrapper {
    height: 400px;
    width: 100vw;
    background: #FBADAD;
    overflow: hidden;
    border-radius: 2em;
}

/* real img reveal */
#hero-img-wrapper:hover #hero-img {
    height: 400px;
    width: 100vw;
    overflow: hidden;
    opacity: 1;
    filter: grayscale(0%);
}

/* img behind overlay */
#hero-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.4;
    filter: grayscale(100%);
    background-blend-mode: screen;
    transition: .5s ease;
}

