/* ==========================================================================
    basic styling
    ========================================================================== */

    html {
        scroll-behavior: smooth;
    }

    body {
        display: block;
        background-color: #111;
        color: #f4f4f4;
        font-family: degular-text, sans-serif;
        font-size: 1rem;
        font-weight: 200;
        line-height: 145%;
        margin: unset;
    }

    header {
        text-align: center;
        margin: 3rem 0rem 5rem 0rem;
    }

    section {
        margin-bottom: 8rem;
    }

    /* padding for special sections */
    header,
    #bookshelf,
    #spotify,
    #cta,
    #style,
    #form {
        padding: 0% 5%;
    }

    h1 {
        font-family: presley-slab, serif;
        font-weight: 100;
        font-size: 10vw; 
        line-height: 120%;
        margin: 1rem 0rem 0rem 0rem;
        white-space: nowrap;
    }

    h2 {
        font-family: presley-slab, serif;
        font-weight: 100;
        font-size: 6.5vw; 
        text-align: center;
        line-height: 120%;
        margin-bottom: 0rem;
    }

    h3 {
        font-weight: 200;
        font-size: 3vw;
        line-height: 120%;
        text-transform: uppercase;
        color: #fbadad;
        opacity: .6;
        margin: 0rem 0rem 1.5rem;
    }

    p {
        margin-bottom: 3rem;
    }

    footer {
        font-size: 0.8rem;
        text-align: center;
        padding-bottom: 0.5rem;
    }

    /* custom cursor
       ========================================================================== */
    
       .cursor {
        position: fixed;
        width: 40px;
        height: 40px;
        margin-left: -20px;
        margin-top: -20px;
        border-radius: 50%;
        border: 1px solid #fbadad;
        transition: transform .2s ease;
        transform-origin: center center;
        pointer-events: none;
        z-index: 10000;
    }

    /* mobile adjustments
       ========================================================================== */

        @media screen and (max-width: 769px) {
            body {
                font-size: 0.8rem;
            }
            header {
                margin-bottom: 3rem;
            }
            section {
                margin-bottom: 5rem;
            }
            .cursor {
                display: none;
            }
        }

    /* custom text-selection color
       ========================================================================== */

        ::selection {
            color: #111;
            background: #fbadad;
        }

    /* button styling and transition
       ========================================================================== */

        .button {
            color:#fbadad;
            font-size: 3vw;
            text-transform: uppercase;
            text-decoration: none;
            border: solid 1px;
            border-radius: 100rem;
            padding: 0.3rem 1.3rem;
            margin-bottom: 2rem;
            cursor: pointer;
            transition: .5s ease;
        }

        .button:hover {
            color:#111;
            background-color: #fbadad;
            border: solid 1px #fbadad;
        }

        .button:focus {
            color:#111;
            background-color: #fbadad;
            border: solid 1px #fbadad;
        }

        /* button fixed font size and padding for big screens */
        @media screen and (min-width: 769px) {
            .button {
                font-size: 1.5rem;
                padding: 0.5rem 1.5rem;
            }
        }

    /* animation definition 
       ========================================================================== */
        
        @keyframes slide {
            from {
                opacity: 20%;
                transform: translateY(5%);
            }
            to {
                opacity: 100%;
                transform: translateY(0%);
            }
        }

/* ==========================================================================
   horizontal scrollable menu
   ========================================================================= */

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: auto;
            white-space: nowrap;
            list-style: none;
            padding: 0;
        }

        .navlink {
            display: inline-block;
            color: #fbadad;
            font-size: 0.9rem;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            padding: 0.1rem 0.9rem;
        }

        .navlink:hover {
            text-decoration: wavy underline;
            text-underline-offset: 0.2rem;
        }

        .navlink:focus {
            text-decoration: wavy underline;
            text-underline-offset: 0.2rem;
        }

        /* active page */
        .active {
            text-decoration: wavy underline;
            text-underline-offset: 0.2rem;
        }

/* ==========================================================================
   hero styling (home)
   ========================================================================== */

    /* hero wrapper and headings
       ========================================================================== */

        #hero {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10rem;
        }

        #hero h1 {
            font-family: presley-slab, serif;
            font-weight: 400;
            font-style: italic;
            font-size: 10vw;
            line-height: 100%;
            text-transform: uppercase;
            color: #fbadad;
            margin: 0.4rem 0 1rem;
            white-space: npowrap;
        }

        #hero h2 {
            font-weight: 200;
            font-size: 4vw;
            text-align: center;
            max-width: 80vw;
            opacity: .6;
            line-height: 140%;
            color: #fbadad;
        }

        /* fixed font size for big screens */
        @media screen and (min-width: 769px) {
            #hero h2 {
                font-size: 1.9rem;
            }
        }

    /* pink hero-img overlay
       ========================================================================== */

        /* hero-img wrapper */
        #hero-img {
            height: 50vw;
            width: 100%;
            background: #fbadad;
            overflow: hidden;
            border-radius: 2rem;
        }

        /* real img reveal */
        #hero-img:hover img {
            transform: scale(1.1);
            overflow: hidden;
            opacity: 1;
            filter: grayscale(0%);
        }

        /* optimized img dimensions for mobile */
        @media screen and (max-width: 576px) {
            #hero-img {
                height: 120vw;
            }
            #hero-img:hover img {
                height: 125vw;
            }
        }

        /* img behind overlay */
        #hero-img img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: .4;
            filter: grayscale(100%);
            background-blend-mode: screen;
            transition: .5s ease;
        }

/* ==========================================================================
   item-section (home) and record-section (music) styling
   ========================================================================== */

    /* section styling
       ========================================================================== */

        #item {
            scroll-margin: 5vw;
        }

    /* item link styling
       ========================================================================== */

        /* single item wrapper with link to subpage */
        #item a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            text-decoration: none;
            color: #fbadad;
            animation: slide linear both;
            animation-timeline: view();
            animation-range: entry 50% cover 50%;
        }

        /* item img dimensions */
        #item img {
            width: 100%;
        }

    /* wrap around three items/records - responsive behaviour
       ========================================================================== */

        /* desktop row (three items side by side) */
        .three { 
            display: flex;
        }

        /* desktop columns (single item) */
        .three figure { 
            flex: 33.33%;
            transition: .5s ease;
        }

        /* smooth hover animation just between items */
        #item figure:hover {
            transform: scale(1.2);
        }

        #item figure:focus {
            transform: scale(1.2);
        }

        /* stack mobile */
        @media screen and (max-width: 576px) {
            .three {
                flex-direction: column;
                justify-content: center;
                gap: 1rem;
            }
            #item figure:hover {
                transform: none;
            }
            
            #item figure:focus {
                transform: none;
            }
        }

    /* record caption styling 
       ========================================================================== */

        /* record name and artist */
        #record figcaption {
            text-align: center;
            color: #fbadad;
        }

        /* record img dimensions */
        #record img {
            width: 100%;
        }

        /* record animation */
        #record figure {
            animation: slide linear both;
            animation-timeline: view();
            animation-range: entry 50% cover 50%;
        }

    /* item and record span styling 
       ========================================================================== */

        /* span styling */
        .emphasize {
            font-family: presley-slab, serif;
            font-weight: 100;
            font-size: 6vw;
            font-style: normal;
            line-height: 120%;
        }

        /* font-size adjustment for bigger screens */
        @media screen and (min-width: 576px) {
            #record .emphasize {
                font-size: 2rem;
            }
        }

/* ==========================================================================
   cta-section styling (home)
   ========================================================================== */

    /* format text in layout */
    #cta {
        text-align: center;
    }

/* ==========================================================================
   spotify-section (music)
   ========================================================================== */

    /* no line-wrap for iframe heading */
    #spotify h2 {
        white-space: nowrap;
        margin-bottom: 1rem;
    }

/* ==========================================================================
   bookshelf (books)
   ========================================================================== */

    /* basic styling
       ========================================================================== */

        /* book cover */
        #bookshelf img {
            width: 80%;
        }

        /* book name */
        #bookshelf h2 {
            line-height: 120%;
            margin: 0.5rem 0rem 0rem;
            color: #fbadad;
        }

        #bookshelf h3 {
            text-align: center;
            margin-bottom: 1rem;
        }

    /* bookshelf tabs
       ========================================================================== */

        /* tab styling */
        .tabs {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        /* tab label style */
        .tabs label {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;
            order: 1;
        }

        /* book cover style */
        .tabs img {
            cursor: pointer;
            transition: .4s border-radius ease
        }

        /* show shadow on img on hover */
        .tabs img:hover {
            box-shadow: 0 0 2rem #fbadad;
            border-radius: 0.5rem;
        }

        /* article styling */
        .tabs article {
            flex-grow: 1;
            width: 100%;
            height: 100%;
            display: none;
            text-align: center;
            margin-bottom: 1.5rem;
            order: 9;
        }

        /* hide radio buttons */
        .tabs [type=radio] {
            display: none;
        }

        /* img style when checked */
        .tabs [type=radio]:checked + label img { 
            border-radius: 0.5rem;
            box-shadow: 0 0 2rem #fbadad;
        }

        /* show article that matches bookcover */
        .tabs [type=radio]:checked + label + article {
            display: block;
        }

        /* desktop bookshelf */
        @media screen and (min-width: 576px) {
            .tabs label {
                width: 17vw;
                padding: 2vw;
            }
            .tabs {
                justify-content: space-evenly;
            }
        }

/* ==========================================================================
   style articles (style)
   ========================================================================== */


    /* basic styling for big screens
       ========================================================================== */

        /* article img styling */
        #style img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100rem 100rem 0em 0em;
        }

        /* style h2 adjust text align and margin */
        #style h2 {
            color: #FBADAD;
            text-align: left;
            margin-top: 0rem;
            margin-bottom: 0rem;
        }

        /* style h3 adjust margin-bottom */
        #style h3 {
            margin-bottom: 0.2rem;
        }

        /* style p adjust margin-bottom */
        #style p {
            margin-bottom: 0rem;
        }

        #style div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

    /* font-size adjustments for big screens
       ========================================================================== */

        @media screen and (min-width: 769px) {
            #style h2 {
                font-size: 3rem;
            }
            #style h3 {
                font-size: 1.5rem;
            }
        }

    /* grid structure
       ========================================================================== */

        #style article {
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            column-gap: 5vw;
            margin-bottom: 6rem;
        }

        /* stack on mobile */
        @media screen and (max-width: 567px) {
            #style article {
                grid-template-columns: 1fr;
                row-gap: 2rem;
                margin-bottom: 3rem;
            }
        }

/* ==========================================================================
   contact form (show me your bag)
   ========================================================================== */

    /* mobile adjustment for big screen padding */
    @media screen and (min-width: 769px) {
        #form {
            padding: 0% 15%;
        }
    }

    /* form styling
       ========================================================================== */

        /* text input field and textarea styling */
        input[type=text], textarea {
            width: 100%;
            padding: 0.6rem;
            background-color: #111;
            border: 1px solid #fbadad;
            border-radius: 0.3rem;
            box-sizing: border-box;
            margin: 0.5rem 0rem 0.7rem;
            resize: vertical;
            font-family: degular-text, sans-serif;
            font-size: 1rem;
            color: #f4f4f4;
        }

        /* when clicked inside */
        input[type=text]:focus {
            border-color: #fbadad;
        }

        /* placeholder styling */
        input::placeholder {
            opacity: .5;
            color: #f4f4f4;
        }

        /* file input field styling */
        input[type=file] {
            margin: 0.5rem 0rem 3rem;
            font-family: degular-text, sans-serif;
            font-size: 0.9rem;
            color: #f4f4f4;
        }

        /* file upload button styling */
        input::file-selector-button {
            font-family: degular-text, sans-serif;
            background-color: #fbadad;
            border: 1px solid #fbadad;
            border-radius: 0.2rem;
            padding: 0.2rem 0.6rem;
            margin-right: 1rem;
            cursor: pointer;
        }

        /* submit button styling */
        input[type=submit] {
            font-family: degular-text, sans-serif;
            background-color: #111;
        }